.container {
  display: flex;
  min-height: calc(100vh - 60px);
  padding: 0 1.5rem;
  flex-direction: column;
  padding-top: 80px;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
