.container {
  display: flex;
  min-height: calc(100vh - 60px);
  padding: 0 1.5rem;
  flex-direction: column;
  padding: 80px 0 10px 0;
  background-color: var(--bg-primary);
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
