.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 170px;
  gap: 10px;
  color: black;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 8px;
  background-color: yellow;
  transition: all 0.3s ease-in;
}

.cart:hover {
  background-color: rgb(192, 192, 0);
}
