.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 170px;
  gap: 10px;
  color: black;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 8px;
  background-color: var(--btn);
  transition: all 0.3s ease-in;
}

.cart:hover {
  background: linear-gradient(135deg, var(--btn) 0%, var(--btn-hover) 100%);
}
