.card {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  height: auto;
  overflow: hidden;
  border-radius: 8px;
  background-color: var(--bg-secondary);
  border: 4px solid var(--border-color);
  transition: all 0.3s ease-in;
}

.card:hover,
.card:focus-visible {
  border: 4px solid var(--text-primary);
  box-shadow: 2px 4px 10px 0 rgba(233, 233, 233, 0.87);
}

.card__image {
  width: 100%;
  height: auto;
  overflow: hidden;
  flex: 1;
}

.card__content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__title {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  color: var(--text-primary);
}

.card__description {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: var(--text-primary);
}

.card__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  color: var(--btn);
}

.card__coin {
  color: var(--text-primary);
}

.card__btn {
  display: flex;
  padding: 5px 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: var(--btn);
  color: black;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.card__btn:hover,
.card__btn:focus-visible,
.card__btn:focus {
  background: linear-gradient(135deg, var(--btn) 0%, var(--btn-hover) 100%);
  transform: translateY(-2px);
  border-color: #333;
}
