.card {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  height: auto;
  overflow: hidden;
  border-radius: 8px;
  background-color: rgb(15, 15, 15);
  border: 1px solid transparent;
  transition: all 0.3s ease-in;
}

.card:hover,
.card:focus-visible {
  border: 1px solid yellow;
  box-shadow: 2px 4px 10px 0 rgba(233, 233, 233, 0.3);
}

.card__image {
  width: 100%;
  height: auto;
  overflow: hidden;
  flex: 1;
}

.card__content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__title {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 16px;
}

.card__description {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.card__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  color: yellow;
}

.card__coin {
  color: white;
}

.card__btn {
  display: flex;
  padding: 5px 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: yellow;
  color: black;
  transition: all 0.3s ease-in;
}

.card__btn:hover,
.card__btn:focus-visible {
  background-color: rgb(15, 15, 15);
  border: 1px solid yellow;
  color: yellow;
}
