.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  height: 70px;
  background-color: var(--bg-secondary09);
  border-bottom: 2px solid var(--border);
}

.header__logo {
  display: flex;
  width: 50px;
  height: auto;
}
